.section-community {
	@extend .section-expandable;

	background-color: #283E56;

	.fb-like {
		position: relative;
  		top: -4px;
	}

	.social-row {
		margin-top: 5px;
		&>div {
	  		text-align: center;

	  		@media (max-width: $screen-sm-min) {
		  		text-align: left;
				margin-left: 41.66666666666667%;
	  		}
		}
	}
}
