@import "../tab-mixins/tab-mixins";

.section-features {
	@extend .section-expandable;
	$background-color: #423352;

	background: url("../assets/games-background.jpg") no-repeat center right;
	background-color: $background-color !important;
	//background-size: cover;

	.feature-row p {
		opacity: 1;
		font-family: 'Lato', Arial, sans-serif;
		font-size: 1.3em;

		background: linear-gradient(90deg, $background-color, $background-color, rgba(66, 51, 82, 0));
		padding: 4px;
		border-left: solid 3px $main-color-dark;

		.text-muted {
			color: white;
		   	font-family: 'lobster_1.4regular', Arial, sans-serif;
			font-size: 0.8em;
			opacity: 0.65;
		}

		.badge {
			@include badge($alternate-color-light);
			vertical-align: middle;
			margin-bottom: 3px;
		}

	}
}
